/* ./src/style.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-align: center;*/
    color: #2c3e50;
    margin-top: 60px;
}

.component{
    padding: 0 5vh;
    background-color: #fffffe;
    margin-bottom: 10px;
}

.gros_titre{
    font-size: 5vh;
    color: #0e172c;
}

.titre_langue{
    color: #0e172c;
}
